.MovieCard-Container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 40px;
    align-content: space-between;
}


.MovieDataCard{
    margin-top: 20px;
    margin-right: 10 px;
}

.PaginationNumbering{
        margin-left: auto;
        margin-right: auto;

}
.AllMovie-Wrap{
    display: flex;
    flex-direction: column;
}

.PaginationBox{
    display: flex;
    justify-content: center;
}