.header {
  background-color: #3b3b3b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-ul-list li,
.on-login-buttons li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 70px;
  font-weight: 400;
  text-decoration: none;
}

.on-login-buttons {
  margin-right: 15px;
}

.logo {
  margin-top: 3px;
  height: 40px;
  width: 140px;
}

.username {
  color: white;
}
.usernameIcon{
  margin-right: 10px;
}

.signOut {
  color: white;
  font-size: 30px;
}
.header p {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover p{
  color: #f88c1f;
  

}

.log-out-Button{
  background: none;
  border: none;
  font-size: 25px;
}
.on-login-buttons button:hover{
  color: #f88c1f;
  background: none;
}