.contact-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-card,
.contact-form {
  padding: 50px;
}

.contact-card {
  align-self: flex-start;
  margin-top: 80px;
}

.contact-card h4 {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  color: #f88c1f;
}

.contact-card img {
  width: 250px;
}

#greeting {
  color: white;
}

#contact-submit {
  background-color: #f88c1f;
  border: none;
}
