.contact-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card,
.contact-form {
  padding: 50px;
}

.contact-card {
  align-self: flex-start;
  margin-top: 80px;
}

.contact-card img {
  background-color: black;
}

#greeting {
  color: white;
}
