.background{
  background-color: #5e5e5e;
}
#About-us{
  background-color: #5e5e5e;
  color: white;
  align-self: flex-start;
}
#About-us h5{
  color: #f88c1f;
}

.contact-envelope{
  font-size: 40px;
}
.contact-phone{
  font-size: 40px;
}
.contact-info p{
  display: inline-block;
  color: aliceblue;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  left: 20px;
}

