.cards {
  background-color: thistle;
}
.Adv-Results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-body {
  min-height: 250px;
}

.form-group {
  color: white;
}

.rating-filter,
.votes-filter,
.year-filter,
.title-filterinput {
  padding-bottom: 30px;
}

.rating-filter,
.Genre-Filter {
  padding-top: 30px;
}

.movie-votes,
.movie-rating {
  display: flex;
}

.movie-votes p,
.movie-rating p {
  color: white;
}

.rating-dropdown,
.votes-dropdown,
.title-filterinput{
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
}

.rating-filter label,
.votes-filter label,
.year-filter label,
.title-filter,
.Genre-Filter label,
.Country-filter{
  color: orange;
  font-weight: bold;
}
