.Carousel-image, .ImgBestMovie2019 {
    width: 200px;
    height: 200px;
}

.Carousel, .BestMovie2019 {
    width: 100%;
    height: 200px;
   display: flex;
}

.Carousel{
    background-color: teal;
}

.ImgBestMovie2019, .DescriptionBestMovie2019{
    display: inline-block;
}

.DescriptionBestMovie2019{
    margin-right: 5px;
}

.MovieRecomandation{
   display: flex;
   width: 100%;
   background-color: teal;
}

.MovieCard{
    margin: 40px;
    display: inline-block;
}

.MovieCardIMG{
    height: 200px;
}